WhatsApp_Parallext_ZsvE0wIg_V6l03H0J1fM_.json
{
    "updatedAt": "2026-02-17T05:17:12.519Z",
    "createdAt": "2026-02-10T07:08:25.353Z",
    "id": "ZsvE0wIg_V6l03H0J1fM_",
    "name": "WhatsApp_Parallext",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "93003d3c-6498-4502-ada4-fa904e9b940a",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                0,
                0
            ],
            "id": "2f542186-7dfe-4dc6-bed7-cc380e184eed",
            "name": "Webhook",
            "webhookId": "93003d3c-6498-4502-ada4-fa904e9b940a"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Mensaje del Usario: {{ $json.contenido }}\nMensaje del Usuario:{{ $json.usuario }}",
                "options": {
                    "systemMessage": "Eres un experto vendedor de Parallext, tu nombre es Nipko tu asistente, guiate de toda la información en https://parallext.com/ \nLa idea es vender automatización, responde de acuerdo a los mejores estandares de atención al cliente probados y de acuerdo a los servicios que tenemos en Parallext, Rsponde de acuerdo al idioma que origen."
                }
            },
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                688,
                0
            ],
            "id": "0c2bab1e-cebe-4273-852b-08dbb9f2ff8d",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                624,
                256
            ],
            "id": "1ec4e255-d9d3-4cac-bd93-990826308178",
            "name": "Google Gemini Chat Model",
            "credentials": {
                "googlePalmApi": {
                    "id": "CSwVDNIC6a4tmrl1",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $json.chatId }}",
                "contextWindowLength": 10
            },
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                768,
                256
            ],
            "id": "2603163b-2559-41bf-ab3a-c2d735da5d55",
            "name": "Simple Memory"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "41ee6617-639f-4456-aa9f-9a145f9a2cd5",
                            "leftValue": "={{ $json.body.event==='message_created' &&$json.body.conversation.messages[0].sender_type ==='Contact' && $json.body.message_type=='incoming'}}",
                            "rightValue": "={{ $json.body.event}}",
                            "operator": {
                                "type": "boolean",
                                "operation": "true",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "looseTypeValidation": "=",
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                208,
                0
            ],
            "id": "5ba64434-e0ae-4147-adad-4283fb249bf1",
            "name": "If"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "3b1bc62a-26df-459c-8d44-a79751bfa84d",
                            "name": "serverUrl",
                            "value": "https://chatwoot.parallext.cloud/",
                            "type": "string"
                        },
                        {
                            "id": "4cec6634-587c-4e4c-a14c-c5c03eb49c5e",
                            "name": "accountId",
                            "value": "={{ $json.body.account.id }}",
                            "type": "number"
                        },
                        {
                            "id": "1ab184ce-bba8-429c-b21e-86a940eaea94",
                            "name": "conversationId",
                            "value": "={{ $json.body.conversation.id }}",
                            "type": "number"
                        },
                        {
                            "id": "c347a266-944b-4507-a94f-88d86c0d489b",
                            "name": "mensajeId",
                            "value": "={{ $json.body.id }}",
                            "type": "number"
                        },
                        {
                            "id": "fb241e82-f10f-49a2-b224-0eb4c3a37b4b",
                            "name": "chatId",
                            "value": "={{ $json.body.sender.phone_number }}",
                            "type": "string"
                        },
                        {
                            "id": "c80a8d04-1fe3-4d6a-9b8e-a4c0894ccaba",
                            "name": "contenido",
                            "value": "={{ $json.body.content }}",
                            "type": "string"
                        },
                        {
                            "id": "4b4b7810-138d-46f2-bc27-7457f9f585e3",
                            "name": "usuario",
                            "value": "={{ $json.body.sender.name }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                416,
                -96
            ],
            "id": "c81cd277-6d6c-445a-80b3-b2c434864e5d",
            "name": "Edit Fields"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $('Edit Fields').item.json.serverUrl }}//api/v1/accounts/{{ $('Edit Fields').item.json.accountId }}/conversations/{{ $('Edit Fields').item.json.conversationId }}/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n\"content\":{{JSON.stringify($json.output)}},\n\"private\":false,\n\"message_type\":\"outgoing\",\n\"sender\":\n{\n\"type\":\"bot\"\n}\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                1040,
                0
            ],
            "id": "cc42f9b2-ff37-491d-bb5d-cd6d48d54ade",
            "name": "Respuesta a Bot",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "3PxVhLgpwCVMSuEP",
                    "name": "ChatwootBot_Parallext_Whatsapp"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Gemini Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Simple Memory": {
            "ai_memory": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Respuesta a Bot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "staticData": null,
    "meta": {
        "templateCredsSetupCompleted": true
    },
    "pinData": {
        "Webhook": [
            {
                "json": {
                    "headers": {
                        "host": "n8n.parallext.cloud",
                        "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34",
                        "content-length": "2455",
                        "accept": "application/json",
                        "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
                        "content-type": "application/json",
                        "x-forwarded-for": "172.18.0.1",
                        "x-forwarded-host": "n8n.parallext.cloud",
                        "x-forwarded-port": "443",
                        "x-forwarded-proto": "https",
                        "x-forwarded-server": "a1df30656384",
                        "x-real-ip": "172.18.0.1"
                    },
                    "params": {},
                    "query": {},
                    "body": {
                        "account": {
                            "id": 1,
                            "name": "Parallext"
                        },
                        "additional_attributes": {},
                        "content_attributes": {},
                        "content_type": "text",
                        "content": "Ma",
                        "conversation": {
                            "additional_attributes": {},
                            "can_reply": true,
                            "channel": "Channel::Whatsapp",
                            "contact_inbox": {
                                "id": 2,
                                "contact_id": 1,
                                "inbox_id": 4,
                                "source_id": "573208010737",
                                "created_at": "2026-02-10T07:41:04.453Z",
                                "updated_at": "2026-02-10T07:41:04.453Z",
                                "hmac_verified": false,
                                "pubsub_token": "dTPcs9iTSYE34Buw5NrtJTB5"
                            },
                            "id": 2,
                            "inbox_id": 4,
                            "messages": [
                                {
                                    "id": 7,
                                    "content": "Ma",
                                    "account_id": 1,
                                    "inbox_id": 4,
                                    "conversation_id": 2,
                                    "message_type": 0,
                                    "created_at": 1770709666,
                                    "updated_at": "2026-02-10T07:47:46.634Z",
                                    "private": false,
                                    "status": "sent",
                                    "source_id": "wamid.HBgMNTczMjA4MDEwNzM3FQIAEhggQUM3MjkwQ0M2MEIxOTAxRjhCREE3MDQwOTVBRTQxRTkA",
                                    "content_type": "text",
                                    "content_attributes": {},
                                    "sender_type": "Contact",
                                    "sender_id": 1,
                                    "external_source_ids": {},
                                    "additional_attributes": {},
                                    "processed_message_content": "Ma",
                                    "sentiment": {},
                                    "conversation": {
                                        "assignee_id": 1,
                                        "unread_count": 4,
                                        "last_activity_at": 1770709666,
                                        "contact_inbox": {
                                            "source_id": "573208010737"
                                        }
                                    },
                                    "sender": {
                                        "additional_attributes": {},
                                        "custom_attributes": {},
                                        "email": null,
                                        "id": 1,
                                        "identifier": null,
                                        "name": "Nir Levin",
                                        "phone_number": "+573208010737",
                                        "thumbnail": "",
                                        "blocked": false,
                                        "type": "contact"
                                    }
                                }
                            ],
                            "labels": [],
                            "meta": {
                                "sender": {
                                    "additional_attributes": {},
                                    "custom_attributes": {},
                                    "email": null,
                                    "id": 1,
                                    "identifier": null,
                                    "name": "Nir Levin",
                                    "phone_number": "+573208010737",
                                    "thumbnail": "",
                                    "blocked": false,
                                    "type": "contact"
                                },
                                "assignee": {
                                    "id": 1,
                                    "name": "Admin",
                                    "available_name": "Admin",
                                    "avatar_url": "",
                                    "type": "user",
                                    "availability_status": null,
                                    "thumbnail": ""
                                },
                                "assignee_type": "User",
                                "team": null,
                                "hmac_verified": false
                            },
                            "status": "open",
                            "custom_attributes": {},
                            "snoozed_until": null,
                            "unread_count": 4,
                            "first_reply_created_at": null,
                            "priority": null,
                            "waiting_since": 1770709264,
                            "agent_last_seen_at": 1770709269,
                            "contact_last_seen_at": 0,
                            "last_activity_at": 1770709666,
                            "timestamp": 1770709666,
                            "created_at": 1770709264,
                            "updated_at": 1770709666.636236
                        },
                        "created_at": "2026-02-10T07:47:46.634Z",
                        "id": 7,
                        "inbox": {
                            "id": 4,
                            "name": "Parallext"
                        },
                        "message_type": "incoming",
                        "private": false,
                        "sender": {
                            "account": {
                                "id": 1,
                                "name": "Parallext"
                            },
                            "additional_attributes": {},
                            "avatar": "",
                            "custom_attributes": {},
                            "email": null,
                            "id": 1,
                            "identifier": null,
                            "name": "Nir Levin",
                            "phone_number": "+573208010737",
                            "thumbnail": "",
                            "blocked": false
                        },
                        "source_id": "wamid.HBgMNTczMjA4MDEwNzM3FQIAEhggQUM3MjkwQ0M2MEIxOTAxRjhCREE3MDQwOTVBRTQxRTkA",
                        "event": "message_created"
                    },
                    "webhookUrl": "https://n8n.parallext.cloud/webhook/93003d3c-6498-4502-ada4-fa904e9b940a",
                    "executionMode": "production"
                },
                "pairedItem": {
                    "item": 0
                }
            }
        ]
    },
    "versionId": "e7cebde3-fc91-4e51-ae3b-6d5cdeee9bb2",
    "activeVersionId": "e7cebde3-fc91-4e51-ae3b-6d5cdeee9bb2",
    "versionCounter": 203,
    "triggerCount": 1,
    "shared": [
        {
            "updatedAt": "2026-02-10T07:08:25.353Z",
            "createdAt": "2026-02-10T07:08:25.353Z",
            "role": "workflow:owner",
            "workflowId": "ZsvE0wIg_V6l03H0J1fM_",
            "projectId": "kAoLQVwm2MCykCGW",
            "project": {
                "updatedAt": "2025-11-29T04:30:38.391Z",
                "createdAt": "2025-11-29T04:29:39.150Z",
                "id": "kAoLQVwm2MCykCGW",
                "name": "Nir Levin Bermudez <nir.levin.us@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "6810c914-ff02-4fbe-a35f-44ee69745768",
                "projectRelations": [
                    {
                        "updatedAt": "2025-11-29T04:29:39.150Z",
                        "createdAt": "2025-11-29T04:29:39.150Z",
                        "userId": "6810c914-ff02-4fbe-a35f-44ee69745768",
                        "projectId": "kAoLQVwm2MCykCGW",
                        "user": {
                            "updatedAt": "2026-02-19T05:00:17.696Z",
                            "createdAt": "2025-11-29T04:29:38.778Z",
                            "id": "6810c914-ff02-4fbe-a35f-44ee69745768",
                            "email": "nir.levin.us@gmail.com",
                            "firstName": "Nir Levin",
                            "lastName": "Bermudez",
                            "personalizationAnswers": {
                                "version": "v4",
                                "personalization_survey_submitted_at": "2025-11-29T04:31:10.684Z",
                                "personalization_survey_n8n_version": "1.121.3",
                                "automationGoalDevops": [
                                    "cloud-infrastructure-orchestration",
                                    "ci-cd"
                                ],
                                "companySize": "<20",
                                "companyType": "saas",
                                "role": "it",
                                "reportedSource": "google"
                            },
                            "settings": {
                                "userActivated": true,
                                "firstSuccessfulWorkflowId": "ZsvE0wIg_V6l03H0J1fM_",
                                "userActivatedAt": 1770709457724,
                                "easyAIWorkflowOnboarded": true,
                                "npsSurvey": {
                                    "waitingForResponse": true,
                                    "ignoredCount": 1,
                                    "lastShownAt": 1771343202766
                                }
                            },
                            "disabled": false,
                            "mfaEnabled": false,
                            "lastActiveAt": "2026-02-19",
                            "isPending": false
                        }
                    }
                ]
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-02-10T18:57:11.237Z",
        "createdAt": "2026-02-10T18:55:58.259Z",
        "versionId": "e7cebde3-fc91-4e51-ae3b-6d5cdeee9bb2",
        "workflowId": "ZsvE0wIg_V6l03H0J1fM_",
        "nodes": [
            {
                "parameters": {
                    "httpMethod": "POST",
                    "path": "93003d3c-6498-4502-ada4-fa904e9b940a",
                    "options": {}
                },
                "type": "n8n-nodes-base.webhook",
                "typeVersion": 2.1,
                "position": [
                    0,
                    0
                ],
                "id": "2f542186-7dfe-4dc6-bed7-cc380e184eed",
                "name": "Webhook",
                "webhookId": "93003d3c-6498-4502-ada4-fa904e9b940a"
            },
            {
                "parameters": {
                    "promptType": "define",
                    "text": "=Mensaje del Usario: {{ $json.contenido }}\nMensaje del Usuario:{{ $json.usuario }}",
                    "options": {
                        "systemMessage": "Eres un experto vendedor de Parallext, tu nombre es Nipko tu asistente, guiate de toda la información en https://parallext.com/ \nLa idea es vender automatización, responde de acuerdo a los mejores estandares de atención al cliente probados y de acuerdo a los servicios que tenemos en Parallext, Rsponde de acuerdo al idioma que origen."
                    }
                },
                "type": "@n8n/n8n-nodes-langchain.agent",
                "typeVersion": 3.1,
                "position": [
                    688,
                    0
                ],
                "id": "0c2bab1e-cebe-4273-852b-08dbb9f2ff8d",
                "name": "AI Agent"
            },
            {
                "parameters": {
                    "options": {}
                },
                "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
                "typeVersion": 1,
                "position": [
                    624,
                    256
                ],
                "id": "1ec4e255-d9d3-4cac-bd93-990826308178",
                "name": "Google Gemini Chat Model",
                "credentials": {
                    "googlePalmApi": {
                        "id": "CSwVDNIC6a4tmrl1",
                        "name": "Google Gemini(PaLM) Api account"
                    }
                }
            },
            {
                "parameters": {
                    "sessionIdType": "customKey",
                    "sessionKey": "={{ $json.chatId }}",
                    "contextWindowLength": 10
                },
                "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
                "typeVersion": 1.3,
                "position": [
                    768,
                    256
                ],
                "id": "2603163b-2559-41bf-ab3a-c2d735da5d55",
                "name": "Simple Memory"
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict",
                            "version": 3
                        },
                        "conditions": [
                            {
                                "id": "41ee6617-639f-4456-aa9f-9a145f9a2cd5",
                                "leftValue": "={{ $json.body.event==='message_created' &&$json.body.conversation.messages[0].sender_type ==='Contact' && $json.body.message_type=='incoming'}}",
                                "rightValue": "={{ $json.body.event}}",
                                "operator": {
                                    "type": "boolean",
                                    "operation": "true",
                                    "singleValue": true
                                }
                            }
                        ],
                        "combinator": "and"
                    },
                    "looseTypeValidation": "=",
                    "options": {}
                },
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.3,
                "position": [
                    208,
                    0
                ],
                "id": "5ba64434-e0ae-4147-adad-4283fb249bf1",
                "name": "If"
            },
            {
                "parameters": {
                    "assignments": {
                        "assignments": [
                            {
                                "id": "3b1bc62a-26df-459c-8d44-a79751bfa84d",
                                "name": "serverUrl",
                                "value": "https://chatwoot.parallext.cloud/",
                                "type": "string"
                            },
                            {
                                "id": "4cec6634-587c-4e4c-a14c-c5c03eb49c5e",
                                "name": "accountId",
                                "value": "={{ $json.body.account.id }}",
                                "type": "number"
                            },
                            {
                                "id": "1ab184ce-bba8-429c-b21e-86a940eaea94",
                                "name": "conversationId",
                                "value": "={{ $json.body.conversation.id }}",
                                "type": "number"
                            },
                            {
                                "id": "c347a266-944b-4507-a94f-88d86c0d489b",
                                "name": "mensajeId",
                                "value": "={{ $json.body.id }}",
                                "type": "number"
                            },
                            {
                                "id": "fb241e82-f10f-49a2-b224-0eb4c3a37b4b",
                                "name": "chatId",
                                "value": "={{ $json.body.sender.phone_number }}",
                                "type": "string"
                            },
                            {
                                "id": "c80a8d04-1fe3-4d6a-9b8e-a4c0894ccaba",
                                "name": "contenido",
                                "value": "={{ $json.body.content }}",
                                "type": "string"
                            },
                            {
                                "id": "4b4b7810-138d-46f2-bc27-7457f9f585e3",
                                "name": "usuario",
                                "value": "={{ $json.body.sender.name }}",
                                "type": "string"
                            }
                        ]
                    },
                    "options": {}
                },
                "type": "n8n-nodes-base.set",
                "typeVersion": 3.4,
                "position": [
                    416,
                    -96
                ],
                "id": "c81cd277-6d6c-445a-80b3-b2c434864e5d",
                "name": "Edit Fields"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "={{ $('Edit Fields').item.json.serverUrl }}//api/v1/accounts/{{ $('Edit Fields').item.json.accountId }}/conversations/{{ $('Edit Fields').item.json.conversationId }}/messages",
                    "authentication": "genericCredentialType",
                    "genericAuthType": "httpHeaderAuth",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "={\n\"content\":{{JSON.stringify($json.output)}},\n\"private\":false,\n\"message_type\":\"outgoing\",\n\"sender\":\n{\n\"type\":\"bot\"\n}\n}",
                    "options": {}
                },
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.4,
                "position": [
                    1040,
                    0
                ],
                "id": "cc42f9b2-ff37-491d-bb5d-cd6d48d54ade",
                "name": "Respuesta a Bot",
                "credentials": {
                    "httpHeaderAuth": {
                        "id": "3PxVhLgpwCVMSuEP",
                        "name": "ChatwootBot_Parallext_Whatsapp"
                    }
                }
            }
        ],
        "connections": {
            "Webhook": {
                "main": [
                    [
                        {
                            "node": "If",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Google Gemini Chat Model": {
                "ai_languageModel": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_languageModel",
                            "index": 0
                        }
                    ]
                ]
            },
            "Simple Memory": {
                "ai_memory": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "ai_memory",
                            "index": 0
                        }
                    ]
                ]
            },
            "AI Agent": {
                "main": [
                    [
                        {
                            "node": "Respuesta a Bot",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "If": {
                "main": [
                    [
                        {
                            "node": "Edit Fields",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Edit Fields": {
                "main": [
                    [
                        {
                            "node": "AI Agent",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Nir Levin Bermudez",
        "name": "Version e7cebde3",
        "description": "",
        "autosaved": true,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-02-10T18:57:11.234Z",
                "id": 2,
                "workflowId": "ZsvE0wIg_V6l03H0J1fM_",
                "versionId": "e7cebde3-fc91-4e51-ae3b-6d5cdeee9bb2",
                "event": "activated",
                "userId": "6810c914-ff02-4fbe-a35f-44ee69745768"
            }
        ]
    }
}