WhatsApp_Amazon_minimalist_FULL_UPDATED.json
{
    "name": "\ud83c\udfe0 Amazon Minimalist \u2014 Chatwoot Sales Agent",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "1eff1133-3ba0-45cc-9ece-5f88d13c74d8",
                "options": {}
            },
            "id": "3d474654-ed75-4e14-99b4-35273f37bb71",
            "name": "Chatwoot Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                -240,
                80
            ],
            "webhookId": "1eff1133-3ba0-45cc-9ece-5f88d13c74d8",
            "notes": "Recibe mensajes desde Chatwoot bot. URL: https://n8n.parallext.cloud/webhook/1eff1133-3ba0-45cc-9ece-5f88d13c74d8"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 2
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.body.event }}",
                            "rightValue": "message_created",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            },
                            "id": "6cdb8da1-c7fb-4182-9173-8796e3b84ba3"
                        },
                        {
                            "id": "9f7f989a-494d-470c-92e4-01de7971145c",
                            "leftValue": "={{ $json.body.message_type }}",
                            "rightValue": "incoming",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "5483b052-a609-43dc-959c-867ce58b8c84",
            "name": "\ud83d\udd12 Solo Mensajes Entrantes",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                -20,
                80
            ],
            "notes": "Filtra solo message_created + incoming. Ignora mensajes del bot, cambios de estado, etc."
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://chatwoot.parallext.cloud/api/v1/accounts/{{ $('Chatwoot Webhook').item.json.body.account.id }}/conversations/{{ $('Chatwoot Webhook').item.json.body.conversation.messages[0].conversation_id }}/toggle_typing_status",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"typing_status\": \"on\"}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    },
                    "timeout": 5000
                }
            },
            "id": "b76db99f-b87e-4b47-a68b-ed175919de32",
            "name": "\u2328\ufe0f Escribiendo...",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                160,
                80
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "eoZOmylBu2V63KM8",
                    "name": "Chatwoot User Token"
                }
            },
            "notes": "Activa el indicador 'escribiendo...' en Chatwoot mientras el agente procesa la respuesta."
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "message-content",
                            "name": "message_content",
                            "value": "={{ $('Chatwoot Webhook').item.json.body.conversation.messages[0].processed_message_content }}",
                            "type": "string"
                        },
                        {
                            "id": "conversation-id",
                            "name": "conversation_id",
                            "value": "={{ $('Chatwoot Webhook').item.json.body.conversation.messages[0].conversation_id }}",
                            "type": "number"
                        },
                        {
                            "id": "account-id",
                            "name": "account_id",
                            "value": "={{ $('Chatwoot Webhook').item.json.body.conversation.messages[0].account_id }}",
                            "type": "number"
                        },
                        {
                            "id": "sender-name",
                            "name": "sender_name",
                            "value": "={{ $('Chatwoot Webhook').item.json.body.conversation.messages[0].sender.name || 'Hu\u00e9sped'}}",
                            "type": "string"
                        },
                        {
                            "id": "sender-phone",
                            "name": "sender_phone",
                            "value": "={{ $('Chatwoot Webhook').item.json.body.conversation.meta.sender.phone_number || '' }}",
                            "type": "string"
                        },
                        {
                            "id": "sender-email",
                            "name": "sender_email",
                            "value": "={{ $('Chatwoot Webhook').item.json.body.conversation.messages[0].sender.email  || ''  }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "14bddb51-76ec-4aec-b7cd-237ceedf0524",
            "name": "\ud83d\udccb Extraer Datos",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                380,
                80
            ],
            "notes": "Extrae el contenido del mensaje y datos del contacto del payload de Chatwoot."
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=[Contact Name (if available): {{ $('\ud83d\udccb Extraer Datos').item.json.sender_name }}]\n[Contact Phone: {{ $('\ud83d\udccb Extraer Datos').item.json.sender_phone }}]\n[Message]: {{ $('\ud83d\udccb Extraer Datos').item.json.message_content }}\n\n---\nEres el asistente virtual de Amazon Minimalist, alojamientos tur\u00edsticos en Leticia, Amazonas \ud83c\udf3f. Respondes por WhatsApp de forma natural, c\u00e1lida, y **EXCEPCIONALMENTE CONCISA**.\n\n## TU PERSONALIDAD\n- **Ve directo al grano**: M\u00e1ximo 1 a 2 oraciones por mensaje. Responde r\u00e1pido.\n- **La regla de oro**: Evita palabras innecesarias. Cero introducciones largas.\n- **Conoce a tu hu\u00e9sped**: Si el contacto no tiene un nombre real (es solo un n\u00famero, emojis o nombre raro) o la variable recibida de `valid_name` es false, **lo PRIMERO que debes hacer es presentarte brevemente y preguntarle su nombre**.\n- Si el contexto te indica que es un visitante anterior, \u00a1sal\u00fadalo por su nombre y dile que te alegra verlo de nuevo!\n- Despu\u00e9s de responder, **haz una pregunta corta** para guiarlo (\"\u00bfPara qu\u00e9 fechas buscas?\" / \"\u00bfCu\u00e1ntos viajan?\").\n- Las respuestas largas aburren en WhatsApp, s\u00e9 breve y usa m\u00e1ximo 1 emoji.\n\n## T\u00c9CNICAS DE VENTA NATURAL\n1. **Descubrimiento**: No lances datos de golpe. Pregunta primero: \u00bfcu\u00e1ntas personas? \u00bfqu\u00e9 fechas? \u00bfprimera vez en Leticia?\n2. **Storytelling**: \"El balc\u00f3n con mecedoras es perfecto para tomar caf\u00e9 viendo amanecer en el Amazonas\" \u2014 vende la experiencia, no la lista de amenidades\n3. **Urgencia suave**: \"Esas fechas suelen reservarse r\u00e1pido\" (solo si es temporada alta: diciembre-enero, Semana Santa, junio-julio)\n4. **Prueba social**: \"Los hu\u00e9spedes siempre destacan lo c\u00e9ntrico que es y la tranquilidad del barrio\"\n5. **Cross-sell natural**: Si no hay disponibilidad en uno, ofrece el otro de forma natural: \"Te cuento que justo al lado tenemos Family Amazon, que es m\u00e1s amplio y tiene el mismo precio \u2014 \u00bfte interesa?\"\n6. **Cierre suave**: No preguntes \"\u00bfquieres reservar?\" de golpe. Gu\u00eda: \"Si te animas, solo necesito tu nombre y email para asegurar las fechas \ud83d\ude0a\"\n7. **Manejo de \"es caro\"**: Primero reafirma valor (\"Incluye A/C, WiFi, cocina completa, ubicaci\u00f3n c\u00e9ntrica...\"), luego menciona descuentos por personas o estad\u00eda larga\n\n## DATOS DE LOS APARTAMENTOS\n\n### Amazon Minimalist (ID: amazon_minimalist)\n- Segundo piso, estilo minimalista, reci\u00e9n renovado, acceso independiente\n- M\u00e1x 3 personas: 1 cama doble 1.40m + 1 sof\u00e1 cama\n- 1 habitaci\u00f3n, 1 ba\u00f1o con agua caliente\n- A/C, WiFi fibra, Smart TV, cocina equipada completa, mini nevera, balc\u00f3n con mecedoras\n- RNT: 185828\n\n### Family Amazon Minimalist (ID: family_amazon_minimalist)\n- Primer piso, m\u00e1s amplio, ideal familias, acceso independiente\n- M\u00e1x 6 personas: 2 camas dobles + 1 sencilla + 1 sof\u00e1 cama, 2 habitaciones\n- A/C en habitaciones, WiFi fibra, Smart TV 40\", cocina equipada, balc\u00f3n\n- **SIN agua caliente**\n- RNT: 191705\n\n### Datos comunes\n- Direcci\u00f3n: Transversal 3a #14-111, Barrio San Jos\u00e9, Leticia\n- Casa Amarilla de 2 pisos, ~1 km del aeropuerto\n- Google Maps: https://maps.app.goo.gl/B8QJWoVeSHf2kvSNA\n- Instagram: @amazon_minimalist\n- Check-in: 3:00 PM / Check-out: 11:00 AM\n- Early/late: $10.000/hora (sujeto a disponibilidad)\n- Limpieza extra: Amazon $40.000, Family $50.000\n- Parqueadero motos gratis\n\n### Reglas casa\nNo fiestas, silencio 10PM-8AM, no mascotas, no fumar adentro, apagar A/C al salir\n\n### Pagos\nEfectivo (COP), Bancolombia (Ahorros 174-803785-98, Nir Levin Bermudez), Nequi (3208010737), Llave BREB (1117509614)\nInternacional: PayPal nirlevin89@gmail.com (USD)\n\n## REGLA DE RECOMENDACI\u00d3N (OBLIGATORIA)\n| Personas | Recomendaci\u00f3n |\n|----------|--------------|\n| 1-3 | Ofrece ambos |\n| 4-6 | SOLO Family |\n| 7+ | No hay capacidad |\n\n## HERRAMIENTAS \u2014 CU\u00c1NDO USAR\n**NO uses herramientas** para: info general, amenidades, reglas, pagos, horarios \u2192 ya lo sabes todo\n**S\u00cd usa herramientas**:\n- **check_availability** \u2192 disponibilidad + precio. REQUIERE: fechas (YYYY-MM-DD) + num_guests\n- **confirm_booking** \u2192 SOLO cuando el hu\u00e9sped confirma expl\u00edcitamente y tienes TODOS los datos\n\n> **\u26a0\ufe0f REGLA CR\u00cdTICA: NUNCA env\u00edes mensajes tipo \"d\u00e9jame verificar\", \"un momento\", \"perm\u00edteme consultar\" SIN incluir el resultado en la misma respuesta. T\u00fa DEBES llamar la herramienta Y presentar los resultados en una SOLA respuesta. El usuario NO recibir\u00e1 un segundo mensaje \u2014 tu respuesta es la \u00daNICA que ver\u00e1.**\n\n## DESCUENTOS \u2014 NUNCA los ofrezcas primero\nSolo si preguntan o dicen \"es caro\":\n- Por estad\u00eda: 5+ noches 10%, 10-15 noches 15%, 30+ noches 30%\n- Anticipo: 20% si +4 noches\n\n## FOTOS Y VIDEOS\n\n### \u26d4 REGLA ABSOLUTA: T\u00da S\u00cd ENV\u00cdAS FOTOS\n- **PROHIBIDO** decir: \"no puedo enviar fotos\", \"no tengo capacidad\", \"no puedo adjuntar\"\n- **LA VERDAD**: T\u00fa S\u00cd puedes enviar fotos. El sistema las env\u00eda autom\u00e1ticamente con los tags.\n- Si el usuario pide fotos y dices que no puedes, **EST\u00c1S MINTIENDO**.\n\n### C\u00f3mo enviar fotos\nIncluye este tag AL FINAL de tu respuesta (despu\u00e9s del texto):\n[FOTO:amazon_minimalist] o [FOTO:family_amazon_minimalist]\n\n### Videos \u2014 YouTube\nPara videos, incluye el enlace de YouTube DIRECTAMENTE en tu mensaje (NO uses tags):\n- **Amazon Minimalist**: https://youtube.com/shorts/l-bDNfNcvnA\n- **Family Amazon Minimalist**: https://youtube.com/shorts/eJC4BhyAgB4\n\nEjemplo: \"Aqu\u00ed tienes un video del apartamento para que lo conozcas mejor: https://youtube.com/shorts/l-bDNfNcvnA\"\n\n### Cu\u00e1ndo enviar fotos/video\n- Cuando el usuario pida fotos/video/im\u00e1genes \u2192 SIEMPRE env\u00eda\n- Despu\u00e9s de recomendar un apartamento \u2192 env\u00eda fotos para persuadir\n- Cuando el usuario est\u00e9 indeciso \u2192 las fotos ayudan a cerrar\n- Puedes COMPLEMENTAR invitando a Instagram @amazon_minimalist ADEM\u00c1S de las fotos\n\n\n## FLUJO DE RESERVA\n1. Confirma brevemente: apartamento, fechas, personas y precio total.\n2. Solicita email (OBLIGATORIO) y nombre completo si a\u00fan no lo tienes.\n3. Menciona la pol\u00edtica ESCNNA (Ley 679) r\u00e1pidamente.\n4. Informa pagos y anticipo (20%).\n5. Ejecuta `confirm_booking` OBLIGATORIAMENTE con TODOS los datos.\n\n## FORMATO DE TEXTO (REGLAS ESTRICTAS DE LONGITUD)\n- **NUNCA** env\u00edes mensajes de m\u00e1s de 2 p\u00e1rrafos.\n- **NUNCA** hagas listas largas, a menos que el usuario lo pida expresamente.\n- Tu primer mensaje en la interacci\u00f3n debe ser tan corto como: \"\u00a1Hola! Soy de Amazon Minimalist. \u00bfTe ayudo con fechas o precios? \ud83d\ude0a\".\n- S\u00e9 directo. Menos es m\u00e1s en WhatsApp.",
                "options": {
                    "systemMessage": "Eres el asistente virtual de Amazon Minimalist, alojamientos tur\u00edsticos en Leticia, Amazonas \ud83c\udf3f. Respondes por WhatsApp de forma natural, c\u00e1lida y cercana \u2014 como un anfitri\u00f3n local que ama su ciudad y quiere que cada hu\u00e9sped tenga la mejor experiencia.\n\n## TU PERSONALIDAD\n- Eres **entusiasta pero genuino**, nunca forzado ni rob\u00f3tico\n- Hablas como un local orgulloso de Leticia \u2014 mencionas detalles del destino cuando es natural\n- **No esperes respuestas secas** \u2014 si el usuario da poca info, haz preguntas amigables y ofrece contexto\n- Despu\u00e9s de responder una pregunta, **siempre gu\u00eda la conversaci\u00f3n** hacia el siguiente paso natural (\"\u00bfYa tienes fechas en mente?\" / \"\u00bfViajan en familia o en pareja?\")\n- **Usa preguntas abiertas** para generar conversaci\u00f3n, no solo \"\u00bfalgo m\u00e1s?\"\n- Si sientes que el usuario est\u00e1 interesado pero indeciso, **reafirma el valor** con detalles espec\u00edficos (ubicaci\u00f3n, comodidades, experiencia)\n- M\u00e1ximo 1-2 emojis por mensaje, no m\u00e1s\n\n## T\u00c9CNICAS DE VENTA NATURAL\n1. **Descubrimiento**: No lances datos de golpe. Pregunta primero: \u00bfcu\u00e1ntas personas? \u00bfqu\u00e9 fechas? \u00bfprimera vez en Leticia?\n2. **Storytelling**: \"El balc\u00f3n con mecedoras es perfecto para tomar caf\u00e9 viendo amanecer en el Amazonas\" \u2014 vende la experiencia, no la lista de amenidades\n3. **Urgencia suave**: \"Esas fechas suelen reservarse r\u00e1pido\" (solo si es temporada alta: diciembre-enero, Semana Santa, junio-julio)\n4. **Prueba social**: \"Los hu\u00e9spedes siempre destacan lo c\u00e9ntrico que es y la tranquilidad del barrio\"\n5. **Cross-sell natural**: Si no hay disponibilidad en uno, ofrece el otro de forma natural: \"Te cuento que justo al lado tenemos Family Amazon, que es m\u00e1s amplio y tiene el mismo precio \u2014 \u00bfte interesa?\"\n6. **Cierre suave**: No preguntes \"\u00bfquieres reservar?\" de golpe. Gu\u00eda: \"Si te animas, solo necesito tu nombre y email para asegurar las fechas \ud83d\ude0a\"\n7. **Manejo de \"es caro\"**: Primero reafirma valor (\"Incluye A/C, WiFi, cocina completa, ubicaci\u00f3n c\u00e9ntrica...\"), luego menciona descuentos por personas o estad\u00eda larga\n\n## DATOS DE LOS APARTAMENTOS\n\n### Amazon Minimalist (ID: amazon_minimalist)\n- Segundo piso, estilo minimalista, reci\u00e9n renovado, acceso independiente\n- M\u00e1x 3 personas: 1 cama doble 1.40m + 1 sof\u00e1 cama\n- 1 habitaci\u00f3n, 1 ba\u00f1o con agua caliente\n- A/C, WiFi fibra, Smart TV, cocina equipada completa, mini nevera, balc\u00f3n con mecedoras\n- RNT: 185828\n\n### Family Amazon Minimalist (ID: family_amazon_minimalist)\n- Primer piso, m\u00e1s amplio, ideal familias, acceso independiente\n- M\u00e1x 6 personas: 2 camas dobles + 1 sencilla + 1 sof\u00e1 cama, 2 habitaciones\n- A/C en habitaciones, WiFi fibra, Smart TV 40\", cocina equipada, balc\u00f3n\n- **SIN agua caliente**\n- RNT: 191705\n\n### Datos comunes\n- Direcci\u00f3n: Transversal 3a #14-111, Barrio San Jos\u00e9, Leticia\n- Casa Amarilla de 2 pisos, ~1 km del aeropuerto\n- Google Maps: https://maps.app.goo.gl/B8QJWoVeSHf2kvSNA\n- Instagram: @amazon_minimalist\n- Check-in: 3:00 PM / Check-out: 11:00 AM\n- Early/late: $10.000/hora (sujeto a disponibilidad)\n- Limpieza extra: Amazon $40.000, Family $50.000\n- Parqueadero motos gratis\n\n### Reglas casa\nNo fiestas, silencio 10PM-8AM, no mascotas, no fumar adentro, apagar A/C al salir\n\n### Pagos\nEfectivo (COP), Bancolombia (Ahorros 174-803785-98, Nir Levin Bermudez), Nequi (3208010737), Llave BREB (1117509614)\nInternacional: PayPal nirlevin89@gmail.com (USD)\n\n## REGLA DE RECOMENDACI\u00d3N (OBLIGATORIA)\n| Personas | Recomendaci\u00f3n |\n|----------|--------------|\n| 1-3 | Ofrece ambos |\n| 4-6 | SOLO Family |\n| 7+ | No hay capacidad |\n\n## HERRAMIENTAS \u2014 CU\u00c1NDO USAR\n**NO uses herramientas** para: info general, amenidades, reglas, pagos, horarios \u2192 ya lo sabes todo\n**S\u00cd usa herramientas**:\n- **check_availability** \u2192 disponibilidad + precio. REQUIERE: fechas (YYYY-MM-DD) + num_guests\n- **confirm_booking** \u2192 SOLO cuando el hu\u00e9sped confirma expl\u00edcitamente y tienes TODOS los datos\n\n> **\u26a0\ufe0f REGLA CR\u00cdTICA: NUNCA env\u00edes mensajes tipo \"d\u00e9jame verificar\", \"un momento\", \"perm\u00edteme consultar\" SIN incluir el resultado en la misma respuesta. T\u00fa DEBES llamar la herramienta Y presentar los resultados en una SOLA respuesta. El usuario NO recibir\u00e1 un segundo mensaje \u2014 tu respuesta es la \u00daNICA que ver\u00e1.**\n\n## DESCUENTOS \u2014 NUNCA los ofrezcas primero\nSolo si preguntan o dicen \"es caro\":\n- Por estad\u00eda: 5+ noches 10%, 10-15 noches 15%, 30+ noches 30%\n- Anticipo: 20% si +4 noches\n\n## FOTOS Y VIDEOS\n\n### \u26d4 REGLA ABSOLUTA: T\u00da S\u00cd ENV\u00cdAS FOTOS\n- **PROHIBIDO** decir: \"no puedo enviar fotos\", \"no tengo capacidad\", \"no puedo adjuntar\"\n- **LA VERDAD**: T\u00fa S\u00cd puedes enviar fotos. El sistema las env\u00eda autom\u00e1ticamente con los tags.\n- Si el usuario pide fotos y dices que no puedes, **EST\u00c1S MINTIENDO**.\n\n### C\u00f3mo enviar fotos\nIncluye este tag AL FINAL de tu respuesta (despu\u00e9s del texto):\n[FOTO:amazon_minimalist] o [FOTO:family_amazon_minimalist]\n\n### Videos \u2014 YouTube\nPara videos, incluye el enlace de YouTube DIRECTAMENTE en tu mensaje (NO uses tags):\n- **Amazon Minimalist**: https://youtube.com/shorts/l-bDNfNcvnA\n- **Family Amazon Minimalist**: https://youtube.com/shorts/eJC4BhyAgB4\n\nEjemplo: \"Aqu\u00ed tienes un video del apartamento para que lo conozcas mejor: https://youtube.com/shorts/l-bDNfNcvnA\"\n\n### Cu\u00e1ndo enviar fotos/video\n- Cuando el usuario pida fotos/video/im\u00e1genes \u2192 SIEMPRE env\u00eda\n- Despu\u00e9s de recomendar un apartamento \u2192 env\u00eda fotos para persuadir\n- Cuando el usuario est\u00e9 indeciso \u2192 las fotos ayudan a cerrar\n- Puedes COMPLEMENTAR invitando a Instagram @amazon_minimalist ADEM\u00c1S de las fotos\n\n\n## FLUJO DE RESERVA\n1. Confirma: apartamento, fechas, personas, precio\n2. Solicita email (OBLIGATORIO) y nombre completo\n3. Frase ESCNNA: \"En Colombia la explotaci\u00f3n y el abuso sexual de menores de edad son sancionados con pena privativa de la libertad, conforme a la Ley 679 de 2001\"\n4. Si viajan menores sin padres: permiso autenticado\n5. Datos TRA\n6. Informa pagos y anticipo\n7. confirm_booking con TODOS los datos\n\n## FORMATO WhatsApp\n- Mensajes cortos, m\u00e1ximo 3-4 p\u00e1rrafos\n- Negritas para datos clave: **precio**, **fechas**\n- Nunca env\u00edes listas largas \u2014 res\u00famelas en 2-3 puntos clave\n- Siempre termina con una pregunta o acci\u00f3n que gu\u00ede al siguiente paso",
                    "maxIterations": 5,
                    "returnIntermediateSteps": false
                }
            },
            "id": "b1b8d2ab-acb3-42df-8c47-add9e66fe843",
            "name": "\ud83e\udd16 Sales Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 1.7,
            "position": [
                1050,
                -20
            ],
            "notes": "Agente de ventas con Gemini 2.0 Flash. System prompt con metodolog\u00eda de ventas SPIN+AIDA. Usa herramientas HTTP para consultar datos reales. El nombre del contacto se inyecta autom\u00e1ticamente desde Chatwoot."
        },
        {
            "parameters": {
                "options": {
                    "temperature": 0.4
                }
            },
            "id": "453fdcb5-1dc1-4026-a8ef-1a78307f7432",
            "name": "Gemini 2.0 Flash",
            "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
            "typeVersion": 1,
            "position": [
                720,
                448
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "CSwVDNIC6a4tmrl1",
                    "name": "Google Gemini(PaLM) Api account"
                }
            },
            "notes": "Temperatura baja (0.4) para respuestas precisas y consistentes. No inventar datos."
        },
        {
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('\ud83d\udccb Extraer Datos').item.json.conversation_id }}",
                "contextWindowLength": 10
            },
            "id": "759a409c-160f-4ce1-acb0-0645c24fbd08",
            "name": "\ud83d\udcdd Chat Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                960,
                448
            ],
            "notes": "Memoria de 20 mensajes por conversaci\u00f3n. La session key es el conversation_id de Chatwoot para mantener el contexto por cada chat."
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://chatwoot.parallext.cloud/api/v1/accounts/{{ $('\ud83d\uddbc\ufe0f Procesar Fotos').item.json.account_id }}/conversations/{{ $('\ud83d\uddbc\ufe0f Procesar Fotos').item.json.conversation_id }}/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ content: $('\ud83d\uddbc\ufe0f Procesar Fotos').item.json.clean_text, message_type: 'outgoing', content_type: 'text' }) }}",
                "options": {}
            },
            "id": "c80b6581-5202-46e3-83ab-1df8684b5fb5",
            "name": "\ud83d\udcf1 Enviar Respuesta",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1500,
                80
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "JB1hfTI5yPolN2PD",
                    "name": "WhatsApp Bot - Amazon Minimalist"
                }
            },
            "notes": "Env\u00eda la respuesta del agente de vuelta a Chatwoot, que la reenv\u00eda al usuario por WhatsApp."
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "rightValue": ""
                    },
                    "combinator": "or",
                    "conditions": [
                        {
                            "id": "booking-check-1",
                            "leftValue": "={{ $(\"\ud83d\uddbc\ufe0f Procesar Fotos\").item.json.clean_text }}",
                            "rightValue": "confirmada",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        },
                        {
                            "id": "booking-check-2",
                            "leftValue": "={{ $(\"\ud83d\uddbc\ufe0f Procesar Fotos\").item.json.clean_text }}",
                            "rightValue": "reserva exitosa",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        },
                        {
                            "id": "booking-check-3",
                            "leftValue": "={{ $(\"\ud83d\uddbc\ufe0f Procesar Fotos\").item.json.clean_text }}",
                            "rightValue": "bloqueadas",
                            "operator": {
                                "type": "string",
                                "operation": "contains"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "id": "45d06d05-ae8f-4eef-884c-84b33730c299",
            "name": "\ud83d\udccb \u00bfReserva Confirmada?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                1720,
                180
            ]
        },
        {
            "parameters": {
                "sendTo": "nirlevin89@gmail.com, sofia.henao96@gmail.com",
                "subject": "=\ud83c\udfe0 Confirmaci\u00f3n de Reserva \u2014 Amazon Minimalist | {{ $('\ud83d\udccb Extraer Datos').item.json.sender_name }}",
                "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 600px; margin: 0 auto;\">\n<div style=\"background: linear-gradient(135deg, #1a472a 0%, #2d8f4e 100%); padding: 32px 24px; border-radius: 16px 16px 0 0; text-align: center;\">\n<h1 style=\"color: white; margin: 0; font-size: 22px;\">\ud83c\udfe0 Reserva Confirmada</h1>\n<p style=\"color: rgba(255,255,255,0.85); margin: 8px 0 0; font-size: 14px;\">Amazon Minimalist \u2014 Leticia, Amazonas</p>\n</div>\n<div style=\"background: #ffffff; padding: 28px 24px; border: 1px solid #e5e7eb;\">\n<h2 style=\"color: #1a472a; font-size: 16px; margin: 0 0 16px; border-bottom: 2px solid #2d8f4e; padding-bottom: 8px;\">\ud83d\udccb Datos de la Reserva</h2>\n<table style=\"width: 100%; font-size: 14px; line-height: 1.8; border-collapse: collapse;\">\n<tr><td style=\"color: #6b7280; width: 40%; padding: 4px 0;\">Hu\u00e9sped:</td><td style=\"font-weight: 600; padding: 4px 0;\">{{ $('\ud83d\udccb Extraer Datos').item.json.sender_name }}</td></tr>\n<tr><td style=\"color: #6b7280; padding: 4px 0;\">Tel\u00e9fono:</td><td style=\"padding: 4px 0;\">{{ $('\ud83d\udccb Extraer Datos').item.json.sender_phone }}</td></tr>\n<tr><td style=\"color: #6b7280; padding: 4px 0;\">Email:</td><td style=\"padding: 4px 0;\">{{ $('\ud83d\udccb Extraer Datos').item.json.sender_email }}</td></tr>\n</table>\n<div style=\"background: #f0fdf4; padding: 16px; border-radius: 8px; margin-top: 16px;\">\n<p style=\"margin: 0; font-size: 14px; color: #374151;\"><strong>Detalles de la reserva:</strong></p>\n<p style=\"margin: 8px 0 0; font-size: 13px; color: #4b5563; white-space: pre-wrap;\">{{ $('\ud83e\udd16 Sales Agent').item.json.output }}</p>\n</div>\n</div>\n<div style=\"background: #f0fdf4; padding: 16px 24px; border: 1px solid #22c55e; border-radius: 0 0 16px 16px;\">\n<p style=\"margin: 0; font-size: 13px; color: #166534;\"><strong>\ud83d\udccd Direcci\u00f3n:</strong> Transversal 3a #14-111, Barrio San Jos\u00e9. Casa Amarilla de 2 pisos.</p>\n<p style=\"margin: 4px 0 0; font-size: 13px; color: #166534;\"><strong>\ud83d\udd50 Check-in:</strong> 3:00 PM | <strong>Check-out:</strong> 11:00 AM</p>\n<p style=\"margin: 4px 0 0; font-size: 12px; color: #166534;\">Google Maps: https://maps.app.goo.gl/B8QJWoVeSHf2kvSNA</p>\n</div>\n</div>",
                "options": {}
            },
            "id": "59090132-afc5-428b-a25b-9b35b6747689",
            "name": "\ud83d\udce7 Email Confirmaci\u00f3n",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                1940,
                120
            ],
            "webhookId": "a4ff22ae-4714-4cea-b6c5-c7d48d4181cc",
            "credentials": {
                "gmailOAuth2": {
                    "id": "pudUp3RfLlIlyEj2",
                    "name": "Gmail account 2"
                }
            },
            "notes": "Gmail nativo (OAuth2) desde amazonminimalist11@gmail.com. TO: propietarios. CC: hu\u00e9sped."
        },
        {
            "parameters": {},
            "id": "dd566a7b-65fa-4d2f-8318-4b7227493828",
            "name": "Sin Reserva",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1940,
                240
            ]
        },
        {
            "parameters": {
                "toolDescription": "HERRAMIENTA PRINCIPAL. Verifica disponibilidad Y devuelve el precio calculado. Usa SIEMPRE esta herramienta cuando el usuario pregunte por disponibilidad o precios y tengas fechas + n\u00famero de personas. Devuelve: disponibilidad (s\u00ed/no), precio por noche, total, y pol\u00edtica de descuentos.",
                "url": "=https://availability-api.parallext.cloud/availability?apt={apt}&start={start}&end={end}&num_guests={num_guests}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "placeholderDefinitions": {
                    "values": [
                        {
                            "name": "apt",
                            "description": "ID del apartamento: amazon_minimalist o family_amazon_minimalist",
                            "type": "string"
                        },
                        {
                            "name": "start",
                            "description": "Fecha de check-in en formato YYYY-MM-DD",
                            "type": "string"
                        },
                        {
                            "name": "end",
                            "description": "Fecha de check-out en formato YYYY-MM-DD",
                            "type": "string"
                        },
                        {
                            "name": "num_guests",
                            "description": "N\u00famero de hu\u00e9spedes (requerido). Ejemplo: 2",
                            "type": "number"
                        }
                    ]
                }
            },
            "id": "745c08e4-03ca-4527-adef-10f6b4675b0a",
            "name": "Check_Availability",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                912,
                624
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Nu8trf1G0Zljoo9F",
                    "name": "Availability API Key"
                }
            }
        },
        {
            "parameters": {
                "toolDescription": "PROHIBIDO usar al inicio de una conversaci\u00f3n. PROHIBIDO usar si no tienes TODOS estos datos del hu\u00e9sped: nombre completo, email, tel\u00e9fono, fechas exactas, n\u00famero de personas y precio acordado. SOLO usar despu\u00e9s de que el hu\u00e9sped diga EXPL\u00cdCITAMENTE que quiere confirmar la reserva (ejemplo: 's\u00ed quiero reservar', 'confirmo'). Esta herramienta bloquea fechas y es IRREVERSIBLE. Par\u00e1metros JSON obligatorios: apt, guest_name, guest_phone, guest_email, check_in (YYYY-MM-DD), check_out (YYYY-MM-DD), num_guests, price_per_night, total_price, notes.",
                "method": "POST",
                "url": "https://availability-api.parallext.cloud/bookings",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"apt\": \"{apt}\", \"guest_name\": \"{guest_name}\", \"guest_phone\": \"{guest_phone}\", \"guest_email\": \"{guest_email}\", \"check_in\": \"{check_in}\", \"check_out\": \"{check_out}\", \"num_guests\": {num_guests}, \"price_per_night\": {price_per_night}, \"total_price\": {total_price}, \"notes\": \"{notes}\"}",
                "placeholderDefinitions": {
                    "values": [
                        {
                            "name": "apt",
                            "description": "ID del apartamento: amazon_minimalist o family_amazon_minimalist",
                            "type": "string"
                        },
                        {
                            "name": "guest_name",
                            "description": "Nombre completo del huesped",
                            "type": "string"
                        },
                        {
                            "name": "guest_phone",
                            "description": "Telefono del huesped",
                            "type": "string"
                        },
                        {
                            "name": "guest_email",
                            "description": "Email del huesped",
                            "type": "string"
                        },
                        {
                            "name": "check_in",
                            "description": "Fecha de check-in YYYY-MM-DD",
                            "type": "string"
                        },
                        {
                            "name": "check_out",
                            "description": "Fecha de check-out YYYY-MM-DD",
                            "type": "string"
                        },
                        {
                            "name": "num_guests",
                            "description": "Numero de huespedes",
                            "type": "number"
                        },
                        {
                            "name": "price_per_night",
                            "description": "Precio por noche en COP",
                            "type": "number"
                        },
                        {
                            "name": "total_price",
                            "description": "Precio total en COP",
                            "type": "number"
                        },
                        {
                            "name": "notes",
                            "description": "Notas adicionales de la reserva",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "91393a46-d54a-4da4-86bd-84b3da0ce01f",
            "name": "Confirm_Booking",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                1120,
                624
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Nu8trf1G0Zljoo9F",
                    "name": "Availability API Key"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Extract text from the active branch (Agent or Quick Reply)\nconst json = $input.first().json;\nlet text = '';\n\n// Try to get text from input first\nif (json.output) {\n    text = json.output; // From Sales Agent\n} else if (json.quick_reply) {\n    text = json.quick_reply; // From Quick Reply\n} else {\n    // Fallback: try to resolve from node references safely\n    try { text = $('\ud83e\udd16 Sales Agent').first().json.output; } catch(e) {}\n    if (!text) try { text = $('\ud83d\udcac Respuesta R\u00e1pida').first().json.quick_reply; } catch(e) {}\n}\n\ntext = text || '';\n\n// Extract [FOTO:apartment_id] tags\nconst photoMatches = text.match(/\\[FOTO:(\\w+)\\]/gi) || [];\nconst photo_apartments = photoMatches.map(m => m.match(/FOTO:(\\w+)/i)[1]);\n\n// Clean text: remove tags\nconst clean_text = text.replace(/\\[FOTO:\\w+\\]/gi, '').replace(/\\[VIDEO:\\w+\\]/gi, '').trim();\n\n// Get context from Router (always available)\nconst router = $('\ud83e\udded Router Inteligente').first().json;\n\nreturn [{\n    json: {\n        clean_text,\n        has_photos: photo_apartments.length > 0,\n        photo_apartments,\n        account_id: router.account_id,\n        conversation_id: router.conversation_id,\n        sender_name: router.sender_name\n    }\n}];"
            },
            "id": "code-parse-photos",
            "name": "\ud83d\uddbc\ufe0f Procesar Fotos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1280,
                80
            ],
            "notes": "Extrae URLs de fotos del output del agente. Separa el texto limpio de las fotos para enviarlas como adjuntos multimedia."
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "rightValue": ""
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "has-photos-check",
                            "leftValue": "={{ $(\"\ud83d\uddbc\ufe0f Procesar Fotos\").item.json.has_photos }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "id": "if-has-photos",
            "name": "\ud83d\udcf8 \u00bfTiene Fotos?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                1720,
                80
            ]
        },
        {
            "parameters": {
                "jsCode": "// Build photo fetch items from apartment IDs\nconst apts = $('\ud83d\uddbc\ufe0f Procesar Fotos').item.json.photo_apartments;\nconst account_id = $('\ud83d\uddbc\ufe0f Procesar Fotos').item.json.account_id;\nconst conversation_id = $('\ud83d\uddbc\ufe0f Procesar Fotos').item.json.conversation_id;\n\nconst items = apts.map(apt => ({\n    json: {\n        apt_id: apt,\n        api_url: \"https://availability-api.parallext.cloud/apartments/\" + apt + \"/photos\",\n        account_id: account_id,\n        conversation_id: conversation_id\n    }\n}));\nreturn items;"
            },
            "id": "prepare-photo-items",
            "name": "\ud83d\udccb Preparar Fotos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1720,
                -20
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $json.photo_url }}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "file",
                            "outputPropertyName": "data"
                        }
                    },
                    "timeout": 15000
                }
            },
            "id": "download-photo",
            "name": "\ud83d\udce5 Descargar Foto",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2600,
                -20
            ],
            "notes": "Descarga la imagen desde la URL para luego subirla como adjunto a Chatwoot.",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://chatwoot.parallext.cloud/api/v1/accounts/{{ $(\"\ud83d\udcf8 Expandir URLs\").item.json.account_id }}/conversations/{{ $(\"\ud83d\udcf8 Expandir URLs\").item.json.conversation_id }}/messages",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "contentType": "multipart-form-data",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "message_type",
                            "value": "outgoing"
                        },
                        {
                            "name": "content",
                            "value": ""
                        },
                        {
                            "parameterType": "formBinaryData",
                            "name": "attachments[]",
                            "inputDataFieldName": "data"
                        }
                    ]
                },
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    },
                    "timeout": 30000
                }
            },
            "id": "send-photo-attachment",
            "name": "\ud83d\udcf1 Enviar Foto",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                2820,
                80
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "JB1hfTI5yPolN2PD",
                    "name": "WhatsApp Bot - Amazon Minimalist"
                }
            },
            "notes": "Sube la foto como adjunto multimedia a Chatwoot via multipart/form-data.",
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "// \ud83e\udded Router Inteligente - bypasses LLM for trivial messages\nconst msg = $('\ud83d\udccb Extraer Datos').item.json.message_content.trim();\nconst name = $('\ud83d\udccb Extraer Datos').item.json.sender_name;\nconst lower = msg.toLowerCase().replace(/[!\u00a1\u00bf?.,;:]/g, '').trim();\n\n// Only match if the ENTIRE message is a greeting or ack (no compound messages)\nconst GREETINGS = /^(hola|hi|hello|hey|buenas?|buenos?\\s*(dias|tardes|noches)|que\\s*tal|saludos?)$/i;\nconst ACKS = /^(ok|okay|listo|vale|perfecto|genial|gracias|muchas\\s*gracias|de\\s*acuerdo|entendido|claro|super|excelente|buenisimo|chevere)$/i;\n\nlet useAgent = true;\nlet quickReply = '';\n\nif (GREETINGS.test(lower)) {\n    const isPhoneNumber = name && /^\\+?\\d+$/.test(name.trim());\n    const hasName = name && name.trim() && !isPhoneNumber;\n    const g = hasName ? `\u00a1Hola, ${name}! \ud83d\udc4b` : '\u00a1Hola! \ud83d\udc4b \u00bfCon qui\u00e9n tengo el gusto?';\n    quickReply = hasName \n        ? `${g} Soy el asistente de Amazon Minimalist. \u00bfEn qu\u00e9 puedo ayudarte? \ud83d\ude0a`\n        : g;\n    useAgent = false;\n} else if (ACKS.test(lower)) {\n    quickReply = '\u00a1Con gusto! Si necesitas algo m\u00e1s, aqu\u00ed estoy \ud83d\ude0a';\n    useAgent = false;\n}\n\nreturn [{\n    json: {\n        useAgent,\n        quickReply,\n        message_content: msg,\n        account_id: $('\ud83d\udccb Extraer Datos').item.json.account_id,\n        conversation_id: $('\ud83d\udccb Extraer Datos').item.json.conversation_id,\n        sender_name: name,\n        sender_phone: $('\ud83d\udccb Extraer Datos').item.json.sender_phone,\n        sender_email: $('\ud83d\udccb Extraer Datos').item.json.sender_email\n    }\n}];"
            },
            "id": "router-inteligente",
            "name": "\ud83e\udded Router Inteligente",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                608,
                80
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "rightValue": ""
                    },
                    "combinator": "and",
                    "conditions": [
                        {
                            "id": "use-agent-check",
                            "leftValue": "={{ $json.useAgent }}",
                            "rightValue": true,
                            "operator": {
                                "type": "boolean",
                                "operation": "true"
                            }
                        }
                    ]
                },
                "options": {}
            },
            "id": "if-usar-agente",
            "name": "\ud83d\udccc \u00bfUsar agente?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                830,
                80
            ]
        },
        {
            "parameters": {
                "mode": "manual",
                "duplicateItem": false,
                "assignments": {
                    "assignments": [
                        {
                            "id": "qr-output",
                            "name": "output",
                            "value": "={{ $('\ud83e\udded Router Inteligente').item.json.quickReply }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "respuesta-rapida",
            "name": "\ud83d\udcac Respuesta R\u00e1pida",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1050,
                180
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{ $json.api_url }}",
                "options": {
                    "timeout": 10000
                },
                "authentication": "none"
            },
            "id": "fetch-photo-urls",
            "name": "\ud83d\udd17 Obtener URLs",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1940,
                -20
            ]
        },
        {
            "parameters": {
                "jsCode": "// Expand photo URLs into individual items (send up to 8)\nconst response = $input.first().json;\nconst photos = response.photos || [];\n\nconst account_id = $('\ud83d\uddbc\ufe0f Procesar Fotos').item.json.account_id;\nconst conversation_id = $('\ud83d\uddbc\ufe0f Procesar Fotos').item.json.conversation_id;\n\n// Send up to 8 photos\nconst selected = photos.slice(0, 8);\n\nreturn selected.map(url => ({\n    json: {\n        photo_url: url,\n        account_id: account_id,\n        conversation_id: conversation_id\n    }\n}));"
            },
            "id": "expand-photo-urls",
            "name": "\ud83d\udcf8 Expandir URLs",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2160,
                -20
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "=https://chatwoot.parallext.cloud/api/v1/accounts/{{ $('\ud83d\uddbc\ufe0f Procesar Fotos').item.json.account_id }}/conversations/{{ $('\ud83d\uddbc\ufe0f Procesar Fotos').item.json.conversation_id }}/toggle_typing_status",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\"typing_status\": \"off\"}",
                "options": {
                    "response": {
                        "response": {
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "id": "typing-off",
            "name": "\u2328\ufe0f Listo",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1720,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "JB1hfTI5yPolN2PD",
                    "name": "WhatsApp Bot - Amazon Minimalist"
                }
            },
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "split-fotos-batch",
            "name": "\ud83d\udd04 Una por Una",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 3,
            "position": [
                2380,
                -20
            ]
        },
        {
            "parameters": {
                "amount": 5,
                "unit": "seconds"
            },
            "id": "wait-entre-fotos",
            "name": "\u23f3 Esperar 5s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                2820,
                -20
            ],
            "webhookId": "wait-fotos-webhook"
        },
        {
            "parameters": {
                "toolDescription": "HERRAMIENTA OBLIGATORIA al inicio de la conversaci\u00f3n si no conoces el historial del usuario. \u00dasala para consultar si el usuario (por su n\u00famero de tel\u00e9fono) tiene reservaciones previas o un nombre v\u00e1lido registrado en el sistema. Par\u00e1metro: phone (el n\u00famero de tel\u00e9fono extra\u00eddo del mensaje).",
                "url": "=https://availability-api.parallext.cloud/bookings/contact/{{phone}}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "placeholderDefinitions": {
                    "values": [
                        {
                            "name": "phone",
                            "description": "Tel\u00e9fono del hu\u00e9sped (ej: +573208010737)",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "18ef9292-f968-4160-9e2c-42ea765fb535",
            "name": "Check_History",
            "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.1,
            "position": [
                1120,
                824
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "Nu8trf1G0Zljoo9F",
                    "name": "Availability API Key"
                }
            }
        }
    ],
    "pinData": {
        "Chatwoot Webhook": [
            {
                "json": {
                    "headers": {
                        "host": "n8n.parallext.cloud",
                        "user-agent": "rest-client/2.1.0 (linux-musl x86_64) ruby/3.4.4p34",
                        "content-length": "2497",
                        "accept": "application/json",
                        "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
                        "content-type": "application/json",
                        "x-forwarded-for": "172.18.0.1",
                        "x-forwarded-host": "n8n.parallext.cloud",
                        "x-forwarded-port": "443",
                        "x-forwarded-proto": "https",
                        "x-forwarded-server": "a1df30656384",
                        "x-real-ip": "172.18.0.1"
                    },
                    "params": {},
                    "query": {},
                    "body": {
                        "account": {
                            "id": 1,
                            "name": "Parallext"
                        },
                        "additional_attributes": {},
                        "content_attributes": {},
                        "content_type": "text",
                        "content": "Hola",
                        "conversation": {
                            "additional_attributes": {},
                            "can_reply": true,
                            "channel": "Channel::Whatsapp",
                            "contact_inbox": {
                                "id": 11,
                                "contact_id": 1,
                                "inbox_id": 6,
                                "source_id": "573208010737",
                                "created_at": "2026-02-17T16:11:39.842Z",
                                "updated_at": "2026-02-17T16:11:39.842Z",
                                "hmac_verified": false,
                                "pubsub_token": "fgtk8zi4hmC8m5hnfnBV1KcQ"
                            },
                            "id": 11,
                            "inbox_id": 6,
                            "messages": [
                                {
                                    "id": 76,
                                    "content": "Hola",
                                    "account_id": 1,
                                    "inbox_id": 6,
                                    "conversation_id": 11,
                                    "message_type": 0,
                                    "created_at": 1771398991,
                                    "updated_at": "2026-02-18T07:16:31.480Z",
                                    "private": false,
                                    "status": "sent",
                                    "source_id": "wamid.HBgMNTczMjA4MDEwNzM3FQIAEhggQUMzRUJBNzQyRUU0N0VGM0U3MUU2QTlEMjI2RDM2OEQA",
                                    "content_type": "text",
                                    "content_attributes": {},
                                    "sender_type": "Contact",
                                    "sender_id": 1,
                                    "external_source_ids": {},
                                    "additional_attributes": {},
                                    "processed_message_content": "Hola",
                                    "sentiment": {},
                                    "conversation": {
                                        "assignee_id": 1,
                                        "unread_count": 8,
                                        "last_activity_at": 1771398991,
                                        "contact_inbox": {
                                            "source_id": "573208010737"
                                        }
                                    },
                                    "sender": {
                                        "additional_attributes": {},
                                        "custom_attributes": {},
                                        "email": null,
                                        "id": 1,
                                        "identifier": null,
                                        "name": "Nir Levin",
                                        "phone_number": "+573208010737",
                                        "thumbnail": "",
                                        "blocked": false,
                                        "type": "contact"
                                    }
                                }
                            ],
                            "labels": [],
                            "meta": {
                                "sender": {
                                    "additional_attributes": {},
                                    "custom_attributes": {},
                                    "email": null,
                                    "id": 1,
                                    "identifier": null,
                                    "name": "Nir Levin",
                                    "phone_number": "+573208010737",
                                    "thumbnail": "",
                                    "blocked": false,
                                    "type": "contact"
                                },
                                "assignee": {
                                    "id": 1,
                                    "name": "Admin",
                                    "available_name": "Admin",
                                    "avatar_url": "",
                                    "type": "user",
                                    "availability_status": null,
                                    "thumbnail": ""
                                },
                                "assignee_type": "User",
                                "team": null,
                                "hmac_verified": false
                            },
                            "status": "open",
                            "custom_attributes": {},
                            "snoozed_until": null,
                            "unread_count": 8,
                            "first_reply_created_at": "2026-02-17T19:24:36.428Z",
                            "priority": null,
                            "waiting_since": 1771398822,
                            "agent_last_seen_at": 1771387864,
                            "contact_last_seen_at": 0,
                            "last_activity_at": 1771398991,
                            "timestamp": 1771398991,
                            "created_at": 1771344699,
                            "updated_at": 1771398991.4823122
                        },
                        "created_at": "2026-02-18T07:16:31.480Z",
                        "id": 76,
                        "inbox": {
                            "id": 6,
                            "name": "Amazon_Minimalist"
                        },
                        "message_type": "incoming",
                        "private": false,
                        "sender": {
                            "account": {
                                "id": 1,
                                "name": "Parallext"
                            },
                            "additional_attributes": {},
                            "avatar": "",
                            "custom_attributes": {},
                            "email": null,
                            "id": 1,
                            "identifier": null,
                            "name": "Nir Levin",
                            "phone_number": "+573208010737",
                            "thumbnail": "",
                            "blocked": false
                        },
                        "source_id": "wamid.HBgMNTczMjA4MDEwNzM3FQIAEhggQUMzRUJBNzQyRUU0N0VGM0U3MUU2QTlEMjI2RDM2OEQA",
                        "event": "message_created"
                    },
                    "webhookUrl": "https://n8n.parallext.cloud/webhook/1eff1133-3ba0-45cc-9ece-5f88d13c74d8",
                    "executionMode": "production"
                },
                "pairedItem": {
                    "item": 0
                }
            }
        ]
    },
    "connections": {
        "Chatwoot Webhook": {
            "main": [
                [
                    {
                        "node": "\ud83d\udd12 Solo Mensajes Entrantes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udd12 Solo Mensajes Entrantes": {
            "main": [
                [
                    {
                        "node": "\u2328\ufe0f Escribiendo...",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "\ud83d\udccb Extraer Datos": {
            "main": [
                [
                    {
                        "node": "\ud83e\udded Router Inteligente",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini 2.0 Flash": {
            "ai_languageModel": [
                [
                    {
                        "node": "\ud83e\udd16 Sales Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udcdd Chat Memory": {
            "ai_memory": [
                [
                    {
                        "node": "\ud83e\udd16 Sales Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83e\udd16 Sales Agent": {
            "main": [
                [
                    {
                        "node": "\ud83d\uddbc\ufe0f Procesar Fotos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udcf1 Enviar Respuesta": {
            "main": [
                [
                    {
                        "node": "\ud83d\udcf8 \u00bfTiene Fotos?",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "\ud83d\udccb \u00bfReserva Confirmada?",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "\u2328\ufe0f Listo",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udccb \u00bfReserva Confirmada?": {
            "main": [
                [
                    {
                        "node": "\ud83d\udce7 Email Confirmaci\u00f3n",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Sin Reserva",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check_Availability": {
            "ai_tool": [
                [
                    {
                        "node": "\ud83e\udd16 Sales Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Confirm_Booking": {
            "ai_tool": [
                [
                    {
                        "node": "\ud83e\udd16 Sales Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\uddbc\ufe0f Procesar Fotos": {
            "main": [
                [
                    {
                        "node": "\ud83d\udcf1 Enviar Respuesta",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udcf8 \u00bfTiene Fotos?": {
            "main": [
                [
                    {
                        "node": "\ud83d\udccb Preparar Fotos",
                        "type": "main",
                        "index": 0
                    }
                ],
                []
            ]
        },
        "\ud83d\udccb Preparar Fotos": {
            "main": [
                [
                    {
                        "node": "\ud83d\udd17 Obtener URLs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udce5 Descargar Foto": {
            "main": [
                [
                    {
                        "node": "\ud83d\udcf1 Enviar Foto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\u2328\ufe0f Escribiendo...": {
            "main": [
                [
                    {
                        "node": "\ud83d\udccb Extraer Datos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83e\udded Router Inteligente": {
            "main": [
                [
                    {
                        "node": "\ud83d\udccc \u00bfUsar agente?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udccc \u00bfUsar agente?": {
            "main": [
                [
                    {
                        "node": "\ud83e\udd16 Sales Agent",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "\ud83d\udcac Respuesta R\u00e1pida",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udcac Respuesta R\u00e1pida": {
            "main": [
                [
                    {
                        "node": "\ud83d\uddbc\ufe0f Procesar Fotos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udd17 Obtener URLs": {
            "main": [
                [
                    {
                        "node": "\ud83d\udcf8 Expandir URLs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udcf8 Expandir URLs": {
            "main": [
                [
                    {
                        "node": "\ud83d\udd04 Una por Una",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udd04 Una por Una": {
            "main": [
                [],
                [
                    {
                        "node": "\ud83d\udce5 Descargar Foto",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\ud83d\udcf1 Enviar Foto": {
            "main": [
                [
                    {
                        "node": "\u23f3 Esperar 5s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "\u23f3 Esperar 5s": {
            "main": [
                [
                    {
                        "node": "\ud83d\udd04 Una por Una",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check_History": {
            "ai_tool": [
                [
                    {
                        "node": "\ud83e\udd16 Sales Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "versionId": "65b51e31-1236-4b9d-93c3-2558bb8d72e3",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "bf6329a6911b716c0a27e0900784d891d16a88f66b87ec3619199925d50b0067"
    },
    "id": "62wqvi7N8t8oWGBGq3GLa",
    "tags": [
        {
            "updatedAt": "2026-02-18T05:11:00.283Z",
            "createdAt": "2026-02-18T05:11:00.283Z",
            "id": "ppqalymsW3g8PrO1",
            "name": "Chatwoot"
        },
        {
            "updatedAt": "2026-02-18T05:02:05.677Z",
            "createdAt": "2026-02-18T05:02:05.677Z",
            "id": "mzmSNDbwK0n69odJ",
            "name": "AI Agent"
        },
        {
            "updatedAt": "2026-02-18T05:02:05.646Z",
            "createdAt": "2026-02-18T05:02:05.646Z",
            "id": "ei42URLIOgAO3rGi",
            "name": "Amazon Minimalist"
        },
        {
            "updatedAt": "2026-02-18T05:02:05.599Z",
            "createdAt": "2026-02-18T05:02:05.599Z",
            "id": "JD3rbbHlLBJVhaF7",
            "name": "WhatsApp"
        }
    ]
}